.App {
  box-sizing: border-box;
}
.App-logo {
  height: 200px;
  pointer-events: none;
  margin:15px;
}
.App-search-box{
  margin:5px;
  width: 30%;
}
.App-login {
  height:150px;
  margin:15px;
}
.App-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #4a4a4a;
}
.App-button-search {
  background-color: darkorange !important;
  color: white !important;
  border-color: darkorange !important;
}
.App-button-login {
  background-color: darkorange !important;
  border-color: darkorange !important;
  margin:15px;

}
.App-movie-banner {
  height:400px;
}
.App-movie-container {
  flex-basis: 25%;
  border-color: darkorange;
  border-style: solid;
  overflow: hidden;
  margin:15px;
  display:flex;
  border-radius: 5%;
  background-color: whitesmoke;
  transition: transform .2s;
}
.App-movie-container:hover{
  transform: scale(1.1);
}
.App-content {
  background-color: #6b6b6b;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App-movie-description {
  padding:15px;
}
.checked {
  color:orange;
}
.Title{
  font-size:25px;
}
.Text-description{
  text-align: match-parent;
}
.App-footer{
  background-color: #4a4a4a;
  color: whitesmoke;
  padding:5px;
}
.App-login-container{
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  
  background-color: #6b6b6b;
  width:40%;
  padding:30px;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
}
.App-login-background{
  background-color: #4a4a4a;
  width:100vw;
  height:100vh;
  padding-top:10%;
}
.App-login-container>div{
  flex-basis: 100%;
  background-color: #6b6b6b;
  text-align: center;
  padding:15px;
}
.App-login-register{
  color:white;
  text-decoration: none;
}
.App-register-container{
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  
  background-color: #6b6b6b;
  width:40%;
  padding:30px;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
}
.App-register-background{
  background-color: #4a4a4a;
  width:100vw;
  height:100vh;
  padding-top:5%;
}
.App-register-container>div{
  flex-basis: 100%;
  background-color: #6b6b6b;
  text-align: center;
  padding:15px;
}
.App-register-login{
  color:white;
  text-decoration: none;
}

.App-details-container{
  display:flex;
  justify-content:center;
  padding:15px;
  background-color: #6b6b6b;
  text-align: center;
  width:60%;
  margin:auto;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
}
.App-details-background{
  background-color: #4a4a4a;
  width:100vw;
  height:100vh;
  padding-top:5%;
}
.App-details-image{
  padding:15px;
  height:550px;
  width:400px;
}
.App-details-form{
  display:flex;
  flex-direction: column;
}
.App-details-form>div{
  padding:15px;
}
.App-navbar-background{
  background-color: #4a4a4a;
  padding:15px;
  display:flex;
  justify-content:space-around;
  border-bottom: solid;
  
}
.App-navbar-link{
  text-decoration:none;
  color:aliceblue;
}
.App-navbar-logout{
  border: none;
  color: black;
  display: inline-block;
  text-decoration: none;
}